/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
}

#nav {

}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #fff;
}

#nav li a {
    text-decoration: none;
    font-size: 24px;
    line-height: 46px;
    padding: 0 24px;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc!important;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .down-icon {
    font-size: 16px;
}

#nav .subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
}

#nav .subnav li {
    width: 100%;
}

#nav .subnav li:hover   {
    color: #000;
    background-color: #ccc;
}

#nav .subnav a {
    color: #000;
    font-size: 20px;
}

#nav #log-out {
    float: right;
}

#title-form #text {
    text-align: center;
    color: blue;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-section {
    margin: auto;
    width: 400px;
    justify-content: center;
    padding-bottom: 30px;
}

.form-section .input-section {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: large;
    font-weight: 400;
}

#update {
    padding: 8px 16px;
    font-size: large;
    font-weight: 400;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: none;
    float: left;
}

#update:hover {
    background-color: #ccc;
    color: #000;
}
